---
layout: default
title: Home
---


<div style="width: 65%; float:left">
   <p>
       Thank you for finding the readings helpful.
   </p>
   <p>
       My name is Binh, and I am currently pursuing an MSc in Probability Theory and Mathematical Statistics.
       As a statistics graduate student, I am committed to advancing research in the field and exploring the intersection of statistics and machine learning.
       My primary research interests lie in time series forecasting and computational statistics, with a focus on applying these methodologies to real-world challenges.
   </p>
   <p>
       My favorite would be the one from Richard Feynman. These words also play a critical role in constituting my self-learning path and the way I approach old and new knowledge.
       Last but not least, I hope you enjoy reading as much as I enjoy writing!
   </p>
   <p>
       "I learned very early the difference between knowing the name of something and knowing something." - Richard Feynman*
   </p>
</div>

<div style="width: 25%; float:right">
   <img src="/assets/ava_updated.jpg" width=100% align="right">
</div>
